---
import Logo from "../Logo.astro";
import WaterDrop from "./WaterDrop.astro";
import OutsideLinks from "./OutsideLinks.astro";

enum Page {
  home = "/",
  about = "/about",
  projects = "/projects",
}

const page = Astro.url.pathname;
const links = "py-2 hover:text-[#366CC6] dark:hover:text-[#C63D32]"
const isActiveClass = "text-[#366CC6] dark:text-[#C63D32]";
---

<nav
  class="fixed top-0 left-0 flex flex-col items-end bg-transparent h-screen w-14 md:w-20"
>
  <a href={Page.home} class="w-14 mt-1 md:mt-7">
    <Logo />
  </a>
  <div class="flex flex-col mt-20 justify-between text-right h-fit font-medium text-base md:text-xl">
    <a href={Page.home} class={`${links} ${page === Page.home ? isActiveClass : ""}`}>
      Home
    </a>
    <a href={Page.about} class={`${links} ${page === Page.about ? isActiveClass : ""}`}>
      About
    </a>
    <a href={Page.projects} class={`${links} ${page === Page.projects ? isActiveClass : ""}`}>
      Projects
    </a>
  </div>
  <WaterDrop />
  <OutsideLinks />
</nav>
